<ul class="nav nav-list">
    <li class="active open hover">
        <a href="/">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Trang chủ </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-cog bigger-170"></i>
            <span class="menu-text">
                Cấu hình
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="hover">
                <a href="/Admin/Departments">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Phòng Ban
                    <b class="arrow"></b>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/RolesSetting">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quyền Truy Cập
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/Users">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Người Dùng
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/DocumentSettings/DocumentType">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại Văn Bản
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li class="hover">
        <a href="/Admin/Document/Index">
            <i class="menu-icon blue ace-icon fa fa-inbox bigger-170"></i>
            
            <span class="menu-text"> Công Văn Đến </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="/Admin/Document/Index">
            <i class="menu-icon orange ace-icon fa fa-location-arrow bigger-170"></i>
            <span class="menu-text"> Công Văn Đi </span>

        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="/Admin/Report">
            <i class="menu-icon fa fa-bar-chart-o red bigger-170"></i>
            <span class="menu-text"> Báo Cáo </span>
        </a>
        <b class="arrow"></b>
    </li>
</ul><!-- /.nav-list -->