<ul class="nav nav-list">
    <li class="active open hover">
        <a href="/">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Trang chủ </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-cog bigger-170"></i>
            <span class="menu-text">
                Cấu hình
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="hover">
                <a href="/Admin/Departments">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Phòng Ban
                    <b class="arrow"></b>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/Members">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nhân Sự
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/RolesSetting">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quyền Truy Cập
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/Users">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Người Dùng
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/DocumentSettings">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Công Văn
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/Admin/DocumentSettings/DocumentType">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại Văn Bản
                    <b class="arrow"></b>
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li class="hover">
        <a href="/Admin/Document/Index">
            <i class="menu-icon blue ace-icon fa fa-inbox bigger-170"></i>
            
            <span class="menu-text"> Công Văn Đến </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="/Admin/Document/Index">
            <i class="menu-icon orange ace-icon fa fa-location-arrow bigger-170"></i>
            <span class="menu-text"> Công Văn Đi </span>

        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="widgets.html">
            <i class="menu-icon fa fa-bar-chart-o red bigger-170"></i>
            <span class="menu-text"> Báo Cáo </span>
        </a>

        <b class="arrow"></b>
    </li>

    @*<li class="hover">
        <a href="calendar.html">
            <i class="menu-icon fa fa-calendar"></i>

            <span class="menu-text">
                Calendar

                <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                    <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                </span>
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="gallery.html">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> Gallery </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text"> More Pages </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="hover">
                <a href="profile.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    User Profile
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="inbox.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Inbox
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="pricing.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Pricing Tables
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="invoice.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Invoice
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="timeline.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Timeline
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="search.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Search Results
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="email.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Email Templates
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="login.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Login &amp; Register
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="hover">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>

            <span class="menu-text">
                Other Pages

                <span class="badge badge-primary">5</span>
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="hover">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    FAQ
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="error-404.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Error 404
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="error-500.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Error 500
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="grid.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Grid
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="blank.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Blank Page
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>*@
</ul><!-- /.nav-list -->